- name: Ensure GitHub webhook exists
  community.general.github_webhook:
    user: MatanItzhaki12
    repository: "{{ github_repo_full }}"
    token: "{{ GITHUB_TOKEN }}"
    url: "http://{{ jenkins_public_ip }}:8080/github-webhook/"
    content_type: "json"
    secret: "{{ GITHUB_WEBHOOK_SECRET }}"
    insecure_ssl: "1"
    events:
      - push
    active: true
    state: present
