---
# --- Frontend Part ---
- name: Configure Project Frontend on AWS EC2
  hosts: _frontend
  become: yes

  collections:
    - community.docker

  vars:
    frontend_Docker_Image: "matan8520/dms_frontend"
    frontend_docker_version: "latest" #Placeholeder will be replaced in jenkins pipeline
  roles:
    - frontend


# --- Backend Part ---
- name: Configure Project backend on AWS EC2
  hosts: _backend
  become: yes

  collections:
    - community.docker

  vars:
    backend_Docker_Image: "matan8520/dms_backend"
    backend_docker_version: "latest" #Placeholeder will be replaced in jenkins pipeline
  roles:
    - backend