---
- name: Configure Jenkins Master on AWS EC2
  hosts: _master
  become: yes

  collections:
    - community.docker

  vars:
    JENKINS_URL: "http://{{ hostvars[groups['_master'][0]]['ansible_host'] }}:8080"
    jenkins_home: /var/jenkins_home
    jenkins_container_name: jenkins-master
    JCasC_url: "https://raw.githubusercontent.com/MatanItzhaki12/domain_monitoring_devops/refs/heads/main/infra/Ansible/jenkins.yaml"
    Plugin_configuration_file: "https://raw.githubusercontent.com/MatanItzhaki12/domain_monitoring_devops/refs/heads/main/infra/Ansible/plugins.yaml"
  roles:
    - jenkins_master
    
- name: Configure Jenkins Agent on AWS EC2
  hosts: _agent
  become: yes

  vars:
    ADMIN_USER: "admin"
    NODE_NAME: "docker-slave-1"

  roles:
    - jenkins_slave