---
- name: Configure Jenkins Master on AWS EC2
  hosts: tag_Name_Group2_jenkins_master
  become: yes

  collections:
    - community.docker

  vars:
    ADMIN_PASSWORD: "{{ lookup('env', 'ADMIN_PASSWORD') }}"
    DOCKERHUB_USER: "{{ lookup('env', 'DOCKERHUB_USER') }}"
    DOCKERHUB_PASS: "{{ lookup('env', 'DOCKERHUB_PASS') }}"
    GITHUB_USER: "{{ lookup('env', 'GITHUB_USER') }}"
    GITHUB_TOKEN: "{{ lookup('env', 'GITHUB_TOKEN') }}"
    jenkins_home: /var/jenkins_home
    jenkins_container_name: jenkins-master
    JCasC_url: "https://raw.githubusercontent.com/MatanItzhaki12/domain_monitoring_devops/refs/heads/main/infra/Ansible/jenkins.yaml"
    Plugin_configuration_file: "https://raw.githubusercontent.com/MatanItzhaki12/domain_monitoring_devops/refs/heads/main/infra/Ansible/plugins.yaml"
  roles:
    - jenkins_master
    
- name: Configure Jenkins Agent on AWS EC2
  hosts: tag_Name_Group2_jenkins_agent
  become: yes

  vars:
    ADMIN_USER: "admin"
    ADMIN_PASSWORD: "{{ lookup('env', 'ADMIN_PASSWORD') }}"
    NODE_NAME: "docker-slave-1"

  roles:
    - jenkins_slave